<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lil Beethoven</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/style/stylesheet.css" rel="stylesheet">
  </head>
  <body background='create.jpg'>
  

  <div id="buttons" class="row">
  <div class="col-xs-12 col-sm-4 col-md-2">
    <div class="thumbnail">
      <img src="learn.jpg">
      <div class="caption">
        <h3 class='text-center'>create</h3>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-2">
    <div ui-sref-active="active" ui-sref="listen" class="thumbnail" >
      <img src="listen.jpg">
      <div class="caption">
        <h3 class='text-center'>listen</h3>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-2">
    <div class="thumbnail">
      <img src="browse.png">
      <div class="caption">
        <h3 class='text-center'>learn</h3>
      </div>
    </div>
  </div>
</div>

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="460px" height="400px" viewBox="0 0 460 400" enable-background="new 0 0 1128 132" xml:space="preserve">

    <rect id="c" href='c'class='white-keys' style="fill:white;stroke:black" x="0" y="0" width="46" height="400"/>
    <rect id="d" class='white-keys'style="fill:white;stroke:black" x="46" y="0" width="46" height="400"/>
    <rect id="e" class='white-keys' style="fill:white;stroke:black" x="92" y="0" width="46" height="400"/>
    <rect id="f" class='white-keys' style="fill:white;stroke:black" x="138" y="0" width="46" height="400"/>
    <rect id="g" class='white-keys' style="fill:white;stroke:black" x="184" y="0" width="46" height="400"/>
    <rect id="a" class='white-keys' style="fill:white;stroke:black" x="230" y="0" width="46" height="400"/>
    <rect id="b" class='white-keys' style="fill:white;stroke:black" x="276" y="0" width="46" height="400"/>
    <!--  Black keys (overlap with the white keys)  -->
    <rect id ="cS" class='black-keys' style="fill:black;stroke:black" x="28.66666" y="0" width="26" height="280"/>
    <rect id ="eb" class='black-keys' style="fill:black;stroke:black" x="83.23333" y="0" width="26" height="280"/>
    <rect id ="fS" class='black-keys' style="fill:black;stroke:black" x="164.5" y="0" width="26" height="280"/>
    <rect id ="gS" class='black-keys' style="fill:black;stroke:black" x="216.5" y="0" width="26" height="280"/>
    <rect id ="bb" class='black-keys' style="fill:black;stroke:black" x="269.5" y="0" width="26" height="280"/>
<!-- ONE OCTAVE HIGHER -->
    <rect id="hc" href='c'class='white-keys' style="fill:white;stroke:black" x="322" y="0" width="46" height="400"/>
    <rect id="hd" class='white-keys'style="fill:white;stroke:black" x="368" y="0" width="46" height="400"/>
    <rect id="he" class='white-keys' style="fill:white;stroke:black" x="414" y="0" width="46" height="400"/>
    
    <!--  Black keys (overlap with the white keys)  -->
    <rect id ="hcS" class='black-keys' style="fill:black;stroke:black" x="350.66666" y="0" width="26" height="280"/>
    <rect id ="heb" class='black-keys' style="fill:black;stroke:black" x="405.23333" y="0" width="26" height="280"/>
   
</svg>

  
  <div class='recording'>
      <button id='record' type="button" class="btn btn-success">Start Recording</button>
    </div>

    
    <div class="jumbotron">
      <div class="container">
         <h1>Welcome to Little Beethoven!</h1>
          <p>Create songs on the fly using your keyboard as a piano or browse and listen to the creations of others.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Begin!</a></p>
      </div>
    </div>

    <div class="main">
     
      </div>
     
  </div>

    
    

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <script>
      
      $(document).ready(function() {
        var time;
        var song = [];
        var state = 'home';
        var colors = ["red", "orange", "yellow", "green", "blue", "pink", "purple"];
        if (state !== 'create') {
          $('svg').css('display', 'none');
          $('#record').css('display', 'none');
        } else {
          $('svg').css('display', 'block');
          $('#record').css('display', 'block');
        }

        $(document).on('keypress', function (e) {
           var key;
           
           console.log(e.which);
           if (e.which === 97) {
            key = '#c';
           } else if (e.which === 115) {
            key = '#d'
           } else if (e.which === 100) {
            key = '#e'
          } else if (e.which === 102) {
            key = '#f'
          } else if (e.which === 103) {
            key = '#g'
          } else if (e.which === 104) {
            key = '#a'
          } else if (e.which === 106) {
            key = '#b'
          } else if (e.which === 107) {
            key = '#hc'
          } else if (e.which === 108) {
            key = '#hd' 
          } else if (e.which === 59) {
            key = '#he'
          } else if (e.which === 119) {
            key = '#cS'
          } else if (e.which === 101) {
            key = '#eb'
          } else if (e.which === 116) {
            key = '#fS'
          } else if (e.which === 121) {
            key = '#gS' 
          } else if (e.which === 117) {
            key = '#bb'
          } else if (e.which === 105) {
            key = '#hcS'
          } else if (e.which === 111) {
            key = '#heb'
          }
          if (key) {
            // song.push([new Audio($(key).attr('id') + '.wav'), new Date().getTime() - time]);
          console.log(song);
             var randColor = Math.floor(7*Math.random());
             var audio = new Audio($(key).attr('id') + '.wav');
              audio.play();
             $(key).css("fill", colors[randColor]);
             
             setTimeout(function() {
               if ($(key).attr('class') === 'white-keys') {
                  $(key).css("fill", "white");
               } else {
                  $(key).css("fill", "black");
               }
               
             }, 250)
          }
           
        })

        $('.white-keys').on('click', function() {
         var randColor = Math.floor(7*Math.random());
         var audio = new Audio($(this).attr('id') + '.wav');
          audio.play();
         $(this).css("fill", colors[randColor]);
         var key = this;
         setTimeout(function() {
           $(key).css("fill", "white");
         }, 250)
        })
        


        $('.black-keys').on('click', function() {
         var randColor = Math.floor(7*Math.random());
         $(this).css("fill", colors[randColor]);
          var audio = new Audio($(this).attr('id') + '.wav');
          audio.play();
         var key = this;
         setTimeout(function() {
           $(key).css("fill", "black");
         }, 250)
        })

        $('#record').on('click', function() {
          if ($('#record').text() === 'Start Recording') {
            $('#record').addClass('btn-danger');
            $('#record').removeClass('btn-success');
            $('#record').html('Stop Recording');
            time = new Date().getTime();
          } else {
            $('#record').removeClass('btn-danger');
            $('#record').addClass('btn-success');
            $('#record').html('Start Recording');
           
           //This is the basic strategy for song playback.  A song is "recorded"
           //in the song array.  Each note and time the note is hit since recording
           //is stored in the song array.  As far as storing songs in a database is
           //concerned, I would store to arrays per song.
            song.forEach(function(note) {
              setTimeout(function() {
                note[0].play();
              }, note[1]);
            })
               
            
          }
          
        })

        $('.thumbnail').on('click', function() {
          $('#buttons').css('display', 'none');
          if ($(this).find('h3').text() === 'create') {
            state = 'create';
            $('svg').css('display', 'block');
            $('#record').css('display', 'block');
          }
        })

        $('.btn-lg').on('click', function() {
          $('.jumbotron').css('display', 'none');
        })

         
      })
    </script>
  </body>
</html>